<!-- Page Content -->
<div class="bg">
   <div class="row">
      <div class="col-sm-6">
         <h1 class="banner" style="margin-left: 37%;">Search Land Now!</h1>
      </div>
      <div class="col-sm-3 mt-4"> 
         <%#= link_to 'NEW PROPERTY', new_property_path, class: 'btn btn-primary'  %>
      </div>
   </div>
   <div class="row">
      <div class="three_twelve" style="border: none;"></div>
      <div class="half">
         <%= form_for "", url: properties_path, role: "search", method: "get" do %> 
         <%= search_form_for @q do |f| %>
         <%= f.search_field :name_cont, :placeholder => "Search by name...", :class => "wide_inputs" %><br><br>
         <%= f.select :state_cont, [" ", "Arizona","Texas","California", "New Mexico"], {prompt: "Choose a State..." }, { class: "wide_inputs longtoo"} %><br><br>
         <%= f.select :monthly_payment_cont, [" ", "$129 Per Month","$229 Per Month","$329 Per Month", "$429 Per Month"], {prompt: "Choose a Montly Payment"}, { class: "wide_inputs"} %><br><br>
      </div>
      <div class="half">
         <%= f.select :price_group_cont, [" ", "$0 - $1,000","$1,001 - $2,500","$2,501 - $5,000", "$5,001 - $7,500", "$7,501 - $10,000","$10,001 - $20,000", "$20,001 - $35,000", "$35,001 - $50,000", "$50,001 - $75,000"], {prompt: "Choose a Price Group..." }, { class: "wide_inputs" } %><br><br>
         <%= f.select :acre_cont, [" ", "0 - .5",".51 - 2","2.01 - 5", "5.01 - 10", "10.01 - 15", "15.01 - 20", "20.01 - 40", "40.01 - 60", "60.01 - 80"], { :prompt => "Search by Size..."}, { class: "wide_inputs"} %><br><br>
         <%= f.submit 'S E A R C H', :class => 'wide_buttons' %>
      </div>
      <div class="three_twelve" style="border: none;"></div>
   </div>
   <% end %>
   <% end %>
</div>
<div class="container2">
   <div class="row">
      <div class="three_twelve mr-1">
         <%= render(:partial => 'properties/left') %>
      </div>
      <div class="six_twelve ml-1 mr-1 row">
         <% @property.each do |p| %>
         <div class="card mr-2" style="width: 14.0rem;">
            <% if p.main_photo.attached? == true %> 
            <%= image_tag p.main_photo %> 
            <% else %> 
            <img src="https://i.ibb.co/dBmS5Gk/LAND.jpg" width="100%" alt="LAND" border="0">
            <% end %>
            <div class="card-body">
               <h5 class="card-title" style="font-weight: 600 !important;"><%= p.name %></h5>
               <div class="row">
                  <strong>
                     <p class="card-text ml-3">Price: </p>
                  </strong>
                  <p><%= p.price   %></p>
               </div>
               <div class="row">
                  <strong>
                     <p class="card-text ml-3">Size: </p>
                  </strong>
                  <p><%= p.size   %></p>
               </div>
               <div class="row">
                  <strong>
                     <p class="card-text ml-3">Description:</p>
                  </strong>
                  <div class="ml-3">
                     <%= truncate(p.description, :length => 75) %> 
                  </div>
                  <br>
               </div>
               <div class="row">
                  <%= link_to("DETAILS", property_path(p), :class => 'primary_button') %> <br><Br>       
                  <%= link_to('EDIT', edit_property_path(p), :class => 'danger_button') %> <br><Br>
                  <%= link_to('DELETE', delete_property_path(p), :class => 'success_button') %>
               </div>
            </div>
         </div>
         <% end %>
         <div class="digg_pagination mt-3">
            <%= will_paginate @property %>
         </div>
      </div>
      <div class="three_twelve ml-1" style="padding: 15px;">
         <h3>Contact Us</h3>
         <form action="/action_page.php">
            <label for="fname">First name:</label><br>
            <input class="form_inputs"type="text" id="fname" name="fname" value="John" style="width: 120px;"><br>
            <label for="lname">Last name:</label><br>
            <input class="form_inputs"type="text" id="lname" name="lname" value="Doe" style="width: 120px;"><br><br>
            <input class="wide_buttons2"type="submit" value="S U B M I T" style="width: 150px;">
         </form>
      </div>
   </div>
   <br>
</div>
<div class="container2">
   <div class="row">
      <div class="three_twelve mr-1" style="border: none;">
      </div>
      <div class="six_twelve ml-1 mr-1 row">
         <div class="row">
            <div class="card-group" style="margin-left: auto; margin-right: auto;">
               <div class="card" style="padding: 15px; width: auto; margin-right: 10px;">
                  <div class="card-body">
                     <h5 class="card-title">Card title</h5>
                     <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
               </div>
               <div class="card" style="padding: 15px; width: auto; margin-right: 10px;">
                  <div class="card-body">
                     <h5 class="card-title">Card title</h5>
                     <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
               </div>
               <div class="card" style="padding: 15px; width: auto; margin-right: 10px;">
                  <div class="card-body">
                     <h5 class="card-title">Card title</h5>
                     <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <br><br>
   </div>
</div>
<div class="container2">
   <div class="row">
      <div class="three_twelve mr-1" style="border: none;">
      </div>
      <div class="six_twelve ml-1 mr-1 row">
         <h3>Contact Us</h3>
         <form action="/action_page.php">
            <label for="fname">First name:</label><br>
            <input class="form_inputs"type="text" id="fname" name="fname" value="John" style="width: 120px;"><br>
            <label for="lname">Last name:</label><br>
            <input class="form_inputs"type="text" id="lname" name="lname" value="Doe" style="width: 120px;"><br><br>
            <input class="wide_buttons2"type="submit" value="S U B M I T" style="width: 150px;">
         </form>
      </div>
      <br><br>
   </div>
</div>
<div class="container">
   <% if !flash[:notice].blank? %>
   <div class="alert"> 
      <%= flash[:notice] %> 
   </div>
   <% end %> 
</div>
</div>
<!-- /.container -->