.bg_sell.toppy
  .container2
    = form_for "", url: properties_path, role: "search", method: "get" do
      = search_form_for @q do |f|
        .row.mb-5
          .col-sm-2
          .row
            %h1.left_margin.bottom_margin.banner Search Land Now!
          .row
            .col-sm-2
            .col-sm-4.ml-5
              = f.search_field :name_cont, :placeholder => "Search by name...", :class => "wide_inputs"
              = f.select :state_cont, states, {prompt: "All States" }, { class: "wide_inputs longtoo mt-2"}
              = f.select :monthly_payment_cont, monthly, {prompt: "Choose a Montly Payment"}, { class: "wide_inputs mt-2"}
            .col-sm-4
              = f.select :price_group_cont, price_group, {prompt: "All Price Groups" }, { class: "wide_inputs" }
              = f.select :acre_cont, acre, { :prompt => "All Sizes"}, { class: "wide_inputs mt-2"}
              = f.submit 'S E A R C H', :class => 'wide_buttons mt-2'
            .col-sm-2
.container-fluid
  - if !flash[:error].blank?
    .alert.alert-danger{:role => "alert"}
      = flash[:error]
      .close_time
        %i.fas.fa-times
  - if !flash[:notice].blank?
    .alert.alert-success{:role => "alert"}
      = flash[:notice]
      .close
        %i.fas.fa-times

.container-fluid
  .row
    .col-sm-12.center
      %h3.ml-3
        = pluralize(Property.all.count, 'property')
        %br/
        - if user_signed_in?
          = link_to 'Add New Property', new_property_path, :class => 'btn-link'
  .row
    .col-lg-2.somethingl.ml-5.mt-3
      = render(:partial => 'properties/left')
    .col-lg-7.something.ml-2.mr-2.row{:style => "padding: 15px !important;"}
      .row
        - @property.abc.least_expensive.each do |p|
          .card.mb-2.mr-2.mb-4.ml-3{:style => "overflow: hidden;"}
            .div
            - if p.main_photo.attached? == true
              = image_tag p.main_photo
              - if p.for_sale == true
              - else
                %h1.badge S O L D
            - else
              %img{:alt => "LAND", :border => "0", :src => "https://i.ibb.co/dBmS5Gk/LAND.jpg", :width => "100%"}
            .card-body
              %h5= p.name
              .row
                %strong
                  %p.card-text.ml-3 State:
                %p= p.state
              .row
                %strong
                  %p.card-text.ml-3 Price:
                %p= p.price
              .row
                %strong
                  %p.card-text.ml-3 Size:
                %p= p.size
              .row
                %strong
                  %p.card-text.ml-3 Description:
                .ml-3
                  = truncate(p.description, :length => 75)
            .card-body.row
              = link_to("DETAILS", property_path(p), :class => 'primary_button')
              - if user_signed_in?
                = link_to('EDIT', edit_property_path(p), :class => 'danger_button')
                = link_to('DELETE', delete_property_path(p), :class => 'success_button')
      .digg_pagination.mt-3
        = will_paginate @property
    .col-lg-2.somethingr.mr-2.mt-3
      = render(:partial => 'properties/right')
.container-fluid
= render(:partial => 'properties/blockies')
= render(:partial => 'properties/sign_up')

:javascript
  $(document).ready(function() {
    $(".close_time").on('click', function (event){
       $('.alert-danger').hide();
       });
    $(".close").on('click', function (event){
       $('.alert-success').hide();
       });
     });
