.container.mt-5.mb-5
  - if !flash[:error].blank?
    .alert.alert-danger{:role => "alert"}
      = flash[:error]
  - if !flash[:notice].blank?
    .alert.alert-success{:role => "alert"}
      = flash[:notice]
  .add_edit
    %h4 Add a New Property
    = form_for @property, remote: request.xhr?, html: { data: { modal: true } } do |f|
      = render(:partial => 'form', :locals => {:f => f})
      %div
        - content_for :title do
          Add property
      .modal-footer
        = f.submit 'CREATE', :class => 'primary_button'
        %button.danger_button{"data-dismiss" => "modal", type: "button"} Close
